body{
    background-color: #dbe9d0;
    margin: 0;
    padding: 0;
}


header{
    background-color: #A44A3F;
    padding: 1rem;
    display: grid;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 6rem;
}

nav a{
    color: #F6F4D2;
    text-decoration: none;
    padding: 1rem;
}

#hero{
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
}

#hero img{
    height: auto;
    width: 500px;
}


#join{}

#mission{}

#package{
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    gap: 1rem;
}

.package-description{
    background-color: #F6F4D2;
    height: 40vh;
    border-radius: 10%;
    padding: 2rem;
}

.package-1{
    background-color: #F6F4D2;
    height: 40vh;
    border-radius: 10%;
    padding: 2rem;
}

.package-2{
    background-color: #F6F4D2;
    height: 40vh;
    border-radius: 10%;
    padding: 2rem;
}

#faq{
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    gap: 3rem;
}

.question{
    background-color: #F6F4D2;
    border-radius: 10%;
    padding: 2rem;
}