body{
    background-color: #CBDFBD;
    margin: 0;
    padding: 0;
}

header{
    background-color: #A44A3F;
    padding: 1rem;
    display: grid;
}

nav a{
    color: #F6F4D2;
    text-decoration: none;
    padding: 1rem;
}

main{}

#join{}

#mission{}

#package{}

#faq{}